@page "/invoices"

@if (Addresses == null)
{
    <p>Loading...</p>
}
else
{
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Address Line 1</th>
                    <th>Address Line 2</th>
                    <th>City</th>
                    <th>State</th>
                    <th>Zip</th>
                </tr>
            </thead>
            <tbody>
                @if (Addresses.Count() == 0)
                {
                    <tr>
                        <td colspan="5">
                            No invoices
                        </td>
                    </tr>
                }
                else
                {
                    @foreach (var address in Addresses)
                    {
                        <tr>
                            <td>@address.AddressLine1</td>
                            <td>@(address.AddressLine2 ?? "")</td>
                            <td>@address.City</td>
                            <td>@address.Region</td>
                            <td>@address.PostalCode</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
}

@using Invoice.Domains.Common.Models

@inject IAddressService AddressService
@inject ICacheProvider CacheProvider

@code {
    protected List<AddressModel>? Addresses { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        Addresses = await CacheProvider.GetOrCreateItemAsync("addresses", async () => await AddressService.GetAllAsync());
    }
}
